<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b>商品コード</b><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <b>画像</b><br />
    <%= image_tag(@item.picture_url, width: 150) if @item.picture.present? %>
    <%= f.file_field :picture %>
  </div>
  <div class="field">
    <b>説明</b><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
